html {
  height: 100%;
}
body {
  background-image: linear-gradient(to bottom, #C67418, #55026C);
  margin: 0px;
}

.slide-container {
  width: 70%;
  margin: auto; 
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}

p { 
  color: white;
  font-family:  Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
  font-size: 17px;
}

.text {
  text-align: center;
}

.mixmag > div {
 height: 100px;
 background-size: 150px;
 background-repeat: no-repeat;
 background-position: center;
}

.selektor > div{
  height: 50px;
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
 }

 .logotext {
   margin-top: 50px;
 }

 .leftpane {
  width: 25%;
  height: 100%;
  float: left;
  border-collapse: collapse;
}

.leftpane > div {
  height: 350px;
  background-size: 250px;
  background-repeat: no-repeat;
  margin-left: 85px;
  margin-top: 10%;
}

.middlepane {
  width: 25%;
  height: 100%;
  float: left;
  border-collapse: collapse;
}

.middlepane > div {
  height: 350px;
  background-size: 250px;
  background-repeat: no-repeat;
  margin-left: 85px;
  margin-top: 10%;
}

.rightpane {
  width: 50%;
  height: 100%;
  position: relative;
  float: right;
  border-collapse: collapse;
}

.rightpane > div {
  height: 350px;
  background-size: 250px;
  background-repeat: no-repeat;
  margin-left: 85px;
  margin-right: 60px;
  margin-top: 32%;
}

.dtext {
  text-align: left;
  font-size: 16px;
  margin-left: 85px;
  max-width: 70%;
}

.names { 
  text-align: left;
  font-size: 16px;
  margin-left: 85px;
  max-width: 70%;
  margin-top: 30%;
}